p {
  display: none;
}

h1 {
  text-align: center;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.outer-container {
  width: 80%;
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
}
